// Fepost.scss

.post-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // Display three posts in a row
    grid-gap: 2rem; // Adjust gap between posts
    margin-top: 1350px;
  }
  
  .post-card {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    overflow: hidden;
  }
  
  .post-img {
    width: 100%;
    height: auto;
  }
  
  .post-content {
    padding: 1.5rem;
  }
  
  .post-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .post-description {
    color: #4b5563;
    margin-bottom: 1.5rem;
  }
  
  .post-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .action-buttond {
    background-color: #4299e1;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-left: 0.5rem;
  }
  .action-button {
    background-color: #fd0000;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-left: 0.5rem;
  }
  
  .action-button:last-child {
    margin-left: 0;
  }
  
  .new-post-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  